extends layout.pug

block content
  div(class='header')
    a(href='/') Back to search
    h3(class='category')
      a(href='/search?q=' + category)= category
    if version
      h6(class='version') Version: #{version}
    if date
      h6(class='date') Date: 
        span(class='date-display')= date
    h1= title
  div !{content}
