extends layout.pug

block content
  div(class='how2')
    div(class='how2-header')
      h6(class='date') Date: #{date}
      if version
        h6(class='version') Version: #{version}
      h6 Tags: #{tags}
      h3(class='category')= category
      h1= title
    div !{content}
